<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ducksoup.dilivideolive.mapper.LiveCategoryMapper">

    <resultMap id="BaseResultMap" type="com.ducksoup.dilivideolive.entity.LiveCategory">
            <id property="id" column="id" jdbcType="CHAR"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="iconId" column="icon_id" jdbcType="CHAR"/>
            <result property="bannerId" column="banner_id" jdbcType="CHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,status,
        create_time,description,icon_id,
        banner_id
    </sql>
</mapper>
