<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ducksoup.dilivideotext.mapper.CommentVideoinfoMapper">

    <resultMap id="BaseResultMap" type="com.ducksoup.dilivideotext.entity.CommentVideoinfo">
            <id property="id" column="Id" jdbcType="CHAR"/>
            <result property="commentId" column="comment_id" jdbcType="CHAR"/>
            <result property="videoinfoId" column="videoinfo_id" jdbcType="CHAR"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        Id,comment_id,videoinfo_id,
        status
    </sql>
    <select id="queryCommentByVideoInfoId" resultType="com.ducksoup.dilivideotext.entity.Comment">

        SELECT c.* from m_comment c,m_comment_videoinfo cv WHERE c.Id = cv.comment_id and cv.videoinfo_id = #{videoInfoId}
        <if test="mode==1">
            ORDER BY c.like_count DESC
        </if>
        <if test="mode==0">
            ORDER BY c.create_time DESC
        </if>

        LIMIT #{limit01},#{limit02}


    </select>
</mapper>
