<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ducksoup.dilivideomain.mapper.PostCommentReplyCommentMapper">

    <resultMap id="BaseResultMap" type="com.ducksoup.dilivideomain.entity.PostCommentReplyComment">
            <id property="id" column="Id" jdbcType="CHAR"/>
            <result property="fatherCommentId" column="father_comment_id" jdbcType="CHAR"/>
            <result property="commentId" column="comment_id" jdbcType="CHAR"/>
            <result property="replyCommentId" column="reply_comment_id" jdbcType="CHAR"/>
            <result property="ifdirect" column="ifdirect" jdbcType="TINYINT"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        Id,father_comment_id,comment_id,
        reply_comment_id,ifdirect,status
    </sql>
</mapper>
