<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ducksoup.dilivideomain.mapper.PostMapper">

    <resultMap id="BaseResultMap" type="com.ducksoup.dilivideomain.entity.Post">
            <id property="id" column="Id" jdbcType="CHAR"/>
            <result property="moduleId" column="module_id" jdbcType="CHAR"/>
            <result property="topicId" column="topic_id" jdbcType="CHAR"/>
            <result property="likeCount" column="like_count" jdbcType="INTEGER"/>
            <result property="commentCount" column="comment_count" jdbcType="INTEGER"/>
            <result property="shareCount" column="share_count" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        Id,module_id,topic_id,
        like_count,comment_count,share_count,
        create_time,status
    </sql>
</mapper>
