<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ducksoup.dilivideocontent.mapper.VideofileMapper">

    <resultMap id="BaseResultMap" type="com.ducksoup.dilivideocontent.Entity.Videofile">
            <id property="id" column="Id" jdbcType="CHAR"/>
            <result property="originName" column="origin_name" jdbcType="VARCHAR"/>
            <result property="uniqueName" column="unique_name" jdbcType="VARCHAR"/>
            <result property="path" column="path" jdbcType="VARCHAR"/>
            <result property="bucketid" column="bucketId" jdbcType="CHAR"/>
            <result property="uploadTime" column="upload_time" jdbcType="TIMESTAMP"/>
            <result property="videoinfoId" column="videoinfo_id" jdbcType="CHAR"/>
            <result property="size" column="size" jdbcType="BIGINT"/>
            <result property="state" column="state" jdbcType="TINYINT"/>
            <result property="fullpath" column="fullpath" jdbcType="VARCHAR"/>
            <result property="md5" column="md5" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        Id,origin_name,unique_name,
        path,bucketId,upload_time,
        videoinfo_id,size,state,
        fullpath,md5
    </sql>
</mapper>
