<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ducksoup.dilivideoauth.mapper.RelationFollowMapper">

    <resultMap id="BaseResultMap" type="com.ducksoup.dilivideoauth.entity.RelationFollow">
            <id property="id" column="Id" jdbcType="CHAR"/>
            <result property="userNickname" column="user_nickname" jdbcType="VARCHAR"/>
            <result property="userId" column="user_id" jdbcType="CHAR"/>
            <result property="fllowAvatarurl" column="fllow_avatarUrl" jdbcType="VARCHAR"/>
            <result property="followNickname" column="follow_nickname" jdbcType="VARCHAR"/>
            <result property="followId" column="follow_id" jdbcType="CHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        Id,user_nickname,user_id,
        fllow_avatarUrl,follow_nickname,follow_id,
        create_time,status
    </sql>
</mapper>
