<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ducksoup.dilivideoauth.mapper.RolePermissionMapper">

    <resultMap id="BaseResultMap" type="com.ducksoup.dilivideoauth.Entity.RolePermission">
            <id property="id" column="Id" jdbcType="CHAR"/>
            <result property="roleId" column="role_id" jdbcType="CHAR"/>
            <result property="permissionId" column="permission_id" jdbcType="CHAR"/>
            <result property="note" column="note" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        Id,role_id,permission_id,
        note,status
    </sql>
</mapper>
