<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ducksoup.dilivideoauth.mapper.UserSettingsMapper">

    <resultMap id="BaseResultMap" type="com.ducksoup.dilivideoauth.entity.UserSettings">
            <result property="id" column="id" jdbcType="CHAR"/>
            <result property="userId" column="user_id" jdbcType="CHAR"/>
            <result property="followPublic" column="follow_public" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,follow_public
    </sql>
</mapper>
